* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "nav"
    "filtros"
    "principal"
    "footer";
  grid-template-rows: auto auto 1fr auto;
}

.nav {
  grid-area: nav;
  background: #0b4f7a;;
}

.filtros {
  grid-area: filtros;
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.principal {
  grid-area: principal;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer {
  grid-area: footer;
  background: #0b4f7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.nav-links {
  display: none;
}
.nav-hamb {
  display: block;
}

.grid-productos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-content: start;
}

.producto {
  border: 1px solid #ddd;
}

.producto img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 240px;
  height: 200px;
  object-fit: contain;
  object-position: 60% center;
  padding-top: 10px;
}

.modelo {
  font-size: 13px;
  color: #555;
}

@media (min-width: 576px) {
  .layout {
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "nav filtros"
      "nav principal"
      "footer footer";
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 16px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav-hamb {
    display: none;
  }

  .filtros {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .filtros select {
    width: 240px;
  }

  .grid-productos {
    grid-template-columns: repeat(4, 1fr);
  }
}
